<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>SRiJaN1.0</title>

	<link rel="icon" href="docsupport/bulb6-slow.gif" type="image/gif" sizes="16x16">


	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="/css/owl.carousel.css" />
	<link type="text/css" rel="stylesheet" href="/css/owl.theme.default.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styles.css">
	<link type="text/css" rel="stylesheet" href="/css/loader.css" />

	
	<!--[if lt IE 9]>
			  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
</head>
<body>

        <div class="preloader"><span class="preloader-gif"></span></div>


	
	

	<section>
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h3 class="title"><span>Event Form</span> <span style="color: #dd0a37;">Details</span></h3>
				</div>
			</div>

			<div class="col-md-8 col-md-offset-2 ">
					<!-- about content -->
				<div>
					<h3 class="title"><span>Team Name : </span> <span style="color: #dd0a37;">{{list.teamName}}</span></h3>
					<h3 class="title"><span>College Name : </span> <span style="color: #dd0a37;">{{list.collegeName}}</span></h3>
					<h3 class="title"><span>Email Id : </span> <span style="color: #dd0a37;">{{list.mailId}}</span></h3>
					<h3 class="title"><span>Mobile Number : </span> <span style="color: #dd0a37;">{{list.mobileNumber}}</span></h3>
					<h3 class="title"><span>Total Members : </span> <span style="color: #dd0a37;">{{list.teamNumber}}</span></h3>
					<h3 class="title"><span>Team Members Name : </span> <span style="color: #dd0a37;">{{list.teamMembersName}}</span></h3>
					<h3 class="title"><span>Events : </span> <span style="color: #dd0a37;">{{list.events}}</span></h3>
					 {{#if list.transport}}
					<h3 class="title"><span>Mode of Transport : </span> <span style="color: #dd0a37;">{{list.transport}}</span></h3>
					{{/if}}
					{{#if list.arrivalDate}}
					<h3 class="title"><span>Date of Arrival : </span> <span style="color: #dd0a37;">{{list.arrivalDate}}</span></h3>
					{{/if}}
					{{#if list.departureDate}}
					<h3 class="title"><span>Date of Departure : </span> <span style="color: #dd0a37;">{{list.departureDate}}<span></h3>
					{{/if}}
					{{#if list.transportDetails}}
					<h3 class="title"><span>Transport Details : </span> <span style="color: #dd0a37;">{{list.transportDetails}}</span></h3>
					{{/if}}
					{{#if list.accomodation}}
					<h3 class="title"><span>Accomodation : </span>
					 {{#if list.accomodation}}
					 	<span style="color: #dd0a37;">Yes</span>
					 {{else}}
					 	<span style="color: #dd0a37;">No</span>
						 {{/if}}
					 </h3>
					 {{/if}}
					<h3 class="title"><span>Event Fees : </span> <span style="color: #dd0a37;">Rs {{list.fee}} (Not Paid)</span></h3>
					<div style="text-align: center;margin-top:4vh">
						{{!-- <p style="margin-bottom:4vh;font-size:20px">Check the details and click on pay button</p> --}}
						<form action="/register/checkEvent" method="post">
            
							<input name="ORDER_ID" value="{{list.ORDERID}}" hidden>
							<input name="CUST_ID" value="{{list.CUSTID}}" hidden>
							<input name="MID" value="{{list.MID}}" hidden>

							
							<input name="TXN_AMOUNT" value="{{list.fee}}" hidden>
							
							<input name="id" value="{{list._id}}" hidden>
							<input name="EMAIL" value="{{list.mailId}}" hidden>
							<input name="MOBILE_NO" value="{{list.mobileNumber}}" hidden><br>
							{{!-- <input type="submit" value="Proceed to Payment" class="btn btn-primary" style="padding: 1.6% 1.5%; min-width: 26%; font-size: 1.2em;"> --}}
						</form>
							<h2>You can Pay offline later</h2>
					</div>
					
				</div>
			</div>
			
		</div>
	</section>






<!-- Footer -->
	<footer id="footer">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
	
					<!-- footer logo -->
					<div class="col-md-4 col-md-push-4">
						<div class="footer-brand">
							<a class="logo" href="../../index.html">
								<img class="logo-img" src="/img/E-CELL 1.png"width="240px"height="100px" alt="logo">
							</a>
						</div>
					</div>
					<!-- /footer logo -->
					<div>
						<h2 style="margin-top: 10vh;text-align:center;color: #0B0F28">Event Organized By NIT SILCHAR</h2>
					</div>
					<!-- contact social -->
				<div class="col-md-4 col-md-push-4">
					<div class="contact-social">
						<a href="https://www.facebook.com/srijan.nits/" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="https://www.twitter.com/srijan_nits/" target="_blank"><i class="fa fa-twitter"></i></a>
						<a href="https://www.instagram.com/srijan_nits/" target="_blank"><i class="fa fa-instagram"></i></a>
						<a href="https://www.linkedin.com/srijan_nits/" target="_blank"><i class="fa fa fa-linkedin"></i></a>
					</div>
				</div>
				<!-- /contact social -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</footer>
        <!-- /Footer -->
        
    <script>
			$(window).on("load",function(){
			  $(".loader-wrapper").fadeOut("slow");
			});
	</script>

	<!-- jQuery Plugins -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="/js/google-map.js"></script>
	<script src="/js/jquery.countTo.js"></script>
    <script src="/js/main.js"></script>
    <script src = "/js/loader.js"></script>

</body>

</html>


