<!DOCTYPE html>
<html>
   <head>
      <title>Merchant Check Out Page</title>
   </head>
   <body>
      <center>
         <h1>Please do not refresh this page...</h1>
      </center>
      <form method="post" action="https://securegw.paytm.in/order/process" name="paytm">
         <table border="1">
            <tbody>
               <input type="hidden" name="MID" value="{{list.MID}}">
               <input type="hidden" name="WEBSITE" value="{{list.WEBSITE}}">
               <input type="hidden" name="ORDER_ID" value="{{list.ORDER_ID}}">
               <input type="hidden" name="CUST_ID" value="{{list.CUST_ID}}">
               <input type="hidden" name="MOBILE_NO" value="{{list.MOBILE_NO}}">
               <input type="hidden" name="EMAIL" value="{{list.EMAIL}}">
               <input type="hidden" name="INDUSTRY_TYPE_ID" value="{{list.INDUSTRY_TYPE_ID}}">
               <input type="hidden" name="CHANNEL_ID" value="{{list.CHANNEL_ID}}">
               <input type="hidden" name="TXN_AMOUNT" value="{{list.TXN_AMOUNT}}">
               <input type="hidden" name="CALLBACK_URL" value="{{list.CALLBACK_URL}}">
               <input type="hidden" name="CHECKSUMHASH" value="{{list.CHECKSUMHASH}}">
            </tbody>
         </table>
          <script type="text/javascript">
            document.paytm.submit();
         </script>
      </form>
   </body>
</html>