<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="National Entrepreneurship Summit organised by NIT Silchar" />
  <meta name="keywords"
    content="srijan nits,srijan esummit,srijan nit silchar,e-summit,e-summit nits, speakers, sirjan nit silchar" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>SRIJAN | NIT Silchar</title>

  <meta property="og:title" content="Srijan Website" />
  <meta property="og:type" content="event" />
  <meta property="og:url" content="http://srijan-nits.com" />
  <meta property="og:site_name" content="National Institute of Technology Silchar" />
  <meta property="og:description" content="SRiJAN E-Summit Event Organised by NIT Silchar" />

  <link rel="icon" href="docsupport/bulb6-slow.gif" type="image/gif" sizes="16x16" />
  <link rel="canonical" href="http://srijan-nits.com" />
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- Owl Carousel -->
  <link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
  <link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css" />

  <!-- Custom stlylesheet -->
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <link type="text/css" rel="stylesheet" href="css/registration-form.css" />
  <link type="text/css" rel="stylesheet" href="css/loader.css" />

  <link type="text/css" rel="stylesheet" href="css/social-share.css" />
  <link type="text/css" rel="stylesheet" href="css/scrollTop.css" />
  <style>
    .mobile-space,
    .mobile-space1 {
      width: 190px;
      height: 500px;
    }

    .mobile-space1 {
      width: 380px;
    }

    @media screen and (max-width: 768px) {

      .mobile-space,
      .mobile-space1 {
        display: none;
        width: 0;
        height: 0;
      }
    }
  </style>
</head>

<body class="registration-form-body">
  <a href="index.html"> <img class="logo-img" src="img/E-CELL 1.png" height="75px" width="190px" alt="logo"
      style="padding-right: 1vh" /></a>
  <div class="verification-event">
    <div class="form-heading">
      <h1>Verify Your Details!</h1>
    </div>
    <p><span class="variable">Name - </span><span id="NAME" class="value"> {{newPayment.name}}</span></p>
    <p><span class="variable">Email - </span><span id="EMAIL" class="value">{{newPayment.email}}</span></p>
    <p><span class="variable">Phone Number - </span><span id="PHONE"  class="value"> {{newPayment.phone}}</span></p>
    <p><span class="variable">College Name - </span><span class="value">{{newPayment.college}}</span></p>
    <p><span class="variable">Passing Year - </span><span class="value">{{newPayment.graduationYear}}</span></p>
    <span class="variable">Workshops</span><span class="value">
      <ul style="list-style-type: circle;">
        {{#each newPayment.workshops}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </span>
    {{!-- <p><span class="variable">Do you want T-shirt?</span><span class="value"> - {{#if newPayment.tshirt}}
        <span>Yes</span>
        {{else}}
        <span>No</span>
        {{/if}}</span></p> --}}
    {{!-- <p><span class="variable">Size</span><span class="value"> - {{newPayment.tshirtSize}}</span></p> --}}
    <p><span class="variable">Total amount to be paid - Rs.</span><span class="value"> {{newPayment.amount}} </span></p>
    <div class="confirm-section">
      <div class="form-heading">
        <h2>Proceed to Pay?</h2>
      </div>
      <button class="proceed" id="rzp-button1" style="left: unset;">Checkout</button>
    </div>
  </div>
  <div style="display: none;">
    <h1 id="KEY">{{key_id}}</h1>
    <h1 id="ORDERID">{{order.id}}</h1>
    <h1 id="AMOUNT">{{order.amount}}</h1>
    <h1 id="REGISTRATION_ID">{{newPayment._id}}</h1>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    const ondismissEvent = ()=>{
       window.location = `${window.location.origin}/failure` 
    }
    let options = {
      "key": document.getElementById('KEY').innerText,  //Enter your razorpay key
      "amount": parseInt(document.getElementById("AMOUNT").innerText),
      "currency": "INR",
      "name": "Workshop Payment",
      "description": "Stock Market Workshop Payment",
      "image": "/img/favicon/bulb32px.jpg",
      "order_id": document.getElementById('ORDERID').innerText,
      "prefill":{
        "name" : document.getElementById('NAME').innerText,
        "email": document.getElementById('EMAIL').innerText,
        "contact" : document.getElementById("PHONE").innerText,
      },
      "modal":{
        "confirm_close" : true,
        "ondismiss" : ondismissEvent()
      }
      "handler": function (response) {
        let bodyFormData = {
          razorpay_payment_id: response.razorpay_payment_id,
          razorpay_order_id: response.razorpay_order_id,
          razorpay_signature: response.razorpay_signature
        }
        axios({
          method: "post",
          url: `/verify`,
          data: bodyFormData,
          headers: { "Content-Type": "application/json" },
        })
          .then(function (response) {
            window.location = `${window.location.origin}/success?registrationId=${document.getElementById('REGISTRATION_ID').innerText}`
          })
          .catch(function (response) {
            console.log({ response });
            window.location = `${window.location.origin}/failure`

          });
      },
      "theme": {
        "color": "#1565D8"
      }
    }
    console.log({ options })
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        ondismissEvent();
    });
    document.getElementById('rzp-button1').onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    }
  </script>

  <div id=paymentDetails></div>
  <script src="js/registration-form.js"></script>
</body>

</html>